[Unit]
Description=BerthaD stores blobs

[Service]
ExecStart=/home/berthad/build/berthad-vfs 0.0.0.0 \
                            {{ pillar['bertha']['port'] }} \
                            {{ pillar['bertha']['data_path'] }} \
                            {{ pillar['bertha']['tmp_path'] }}
User=berthad

[Install]
WantedBy=multi-user.target
